{% extends "quiz/base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block scripts %}
    <script src="{% static 'quiz/home.js' %}" defer></script>
{% endblock scripts %}

{% block content %}

    <div class="container mr-4">
        <div class="h1">Subject List</div>
        <hr />
        {% for obj in subjects %}
            <button id="subject_button" class="btn btn-secondary modal-button1" data-bs-pk="{{obj.s_id}}" data-bs-name="{{obj.subject_name}}">
                {{obj.subject_name}}
            </button><br /><br />
        {% endfor %}
    </div>
{% endblock %}