{% extends "quiz/base.html" %}
{% load static %}


{% block title %}
    Score
{% endblock title %}


{% block scripts %}
{% endblock scripts %}
  

{% block content %}

<div class="container" style="margin-left:10%;text-align: center;">
    {% if score <= 3 %}
        <h1>Sorry {% for score in scores|slice:":1" %}{{score.User}}{% endfor %}, You couldnt clear the Quiz!</h1>
        <h2 class="text-muted">You're score is <b>{{score}}</b></h2>
    {% else %}
        <h1>Congratulations {% for score in scores|slice:":1" %}{{score.User}}{% endfor %}, You have successfully clear the Quiz!</h1>
        <h2 class="text-muted">You're score is <b>{{score}}</b></h2>
    {% endif %}
</div><br />
    <div class="container" style="margin-left:10%">
        <table class="table table-hover" style="border: 1px solid black;">
            <thead class="thead-dark" >
                <th style="border: 1px solid white">User</th>
                <th style="border: 1px solid white">Question</th>
                <th style="border: 1px solid white">Answer</th>
                <th style="border: 1px solid white">Right/Wrong</th>
                <th style="border: 1px solid white">Score</th>
            </thead>
            {% for score in scores %}
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black">{{score.user}}</th>
                    <td style="border: 1px solid black">{{score.question}}</td>
                    <td style="border: 1px solid black">
                        {% if score.question.type == "mcq" %}
                            {{score.answer_choosen}}
                        {% else %}
                            {{score.text_answer}}
                        {% endif %}
                    </td>
                    {% if score.question.type == "mcq" %}
                        {% if score.answer_choosen.is_correct %}
                            <td style="border: 1px solid black" id="validate1" class="bg-success text-light"><b>Right</b></td>
                        {% else %}
                            <td style="border: 1px solid black" id="validate2" class="bg-danger text-light"><b>Wrong</b></td>
                        {% endif %}
                    {% else %}
                            {% for answer in score.question.answerset.all %}
                                {% if score.text_answer == answer.text %}
                                    <td style="border: 1px solid black" id="validate1" class="bg-success text-light"><b>Right</b></td>
                                {% else %}
                                    <td style="border: 1px solid black" id="validate2" class="bg-danger text-light"><b>Wrong</b></td>
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                    <td style="border: 1px solid black">
                        {% if score.question.type == "mcq" %}
                            {% if score.answer_choosen.is_correct %}
                                +1
                            {% else %}
                                0
                            {% endif %}
                        {% else %}
                        {% for answer in score.question.answerset.all %}
                            {% if score.text_answer == answer.text %}
                                +1
                            {% else %}
                                0
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div><br /><br />
    
{% endblock content %}