{% extends "quiz/base.html" %}
{% load static %}

{% block title %}
    {% for question in questions %}
        {{question.topic}}
    {% endfor %}
{% endblock title %}

{% block scripts %}
<script>
    const url = window.location.href
</script>
{% endblock scripts %}
{% block content %}
<div class="container">
    {% for question in questions %}
    <form id="quiz-form" action="{% url 'quiz' t_id=question.topic.t_id %}" method="POST" class="mt-3 mb-3">
        {% csrf_token %}
        <div id="quiz-box">
                {{question}}<br />
                {% for answer in answers %}
                    <div class="form-check">
                        <input type="hidden" name="hidden1" value="{{question.q_id}}">
                        <input type="hidden" name="hidden" value="{{question}}">
                        <input type="radio" class="ans" id="{{question}}-{{answer}}" name="{{question}}" value="{{answer.a_id}}" required>
                        <label for="{{question}}">{{answer}}</label>
                    </div>
                {% endfor %}<br />
            <br />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Next</button>
    </form>
    {% endfor %}
</div>
{% endblock content %}