{% extends "quiz/base.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block scripts %}
    <script>
        const url=window.location.href
    </script>
{% endblock scripts %}
{% block content %}
    <div class="container">
        <form id="quiz-form" action="{% url 'save-data' %}" method="POST" class="mt-3 mb-3">
            {% csrf_token %}
            <div id="quiz-box">
                {% for question in questions %}
                        {{question}}<br />
                        {% for answer in answers %}
                            <div class="form-check">
                                <input type="hidden" name="hidden1" value="{{question.q_id}}">
                                <input type="hidden" name="hidden" value="{{question}}">
                                <input type="radio" class="ans" id="{{question}}-{{answer}}" name="{{question}}" value="{{answer.a_id}}" required>
                                <label for="{{question}}">{{answer}}</label>
                            </div>
                        {% endfor %}<br />
                    {% endfor %}
                <br />
            </div> 
            <button type="submit" class="btn btn-primary mt-3">Next</button>
        </form>
    </div>
{% endblock content %}