{% extends "quiz/base.html" %}
{% load static %}


{% block title %}
    Score
{% endblock title %}


{% block scripts %}
{% endblock scripts %}
  

{% block content %}

<div class="container" style="margin-left:10%;text-align: center;">
    {% if score <= 3 %}
        <h1>Sorry {{user}}, You couldnt clear the Quiz!</h1>
        <h2 class="text-muted">You're score is <b>{{score}}</b></h2>
    {% else %}
        <h1>Congratulations {{user}}, You have successfully clear the Quiz!</h1>
        <h2 class="text-muted">You're score is <b>{{score}}{{user}}</b></h2>
    {% endif %}
</div><br />
    <div class="container" style="margin-left:10%">
        <table class="table table-hover" style="border: 1px solid black;">
            <thead class="thead-dark" >
                <th style="border: 1px solid white">User</th>
                <th style="border: 1px solid white">Question</th>
                <th style="border: 1px solid white">Answer</th>
                <th style="border: 1px solid white">Right/Wrong</th>
                <th style="border: 1px solid white">Score</th>
            </thead>
            {% for question in questions %}
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black">{{user}}</th>
                    <td style="border: 1px solid black">{{question.text}}</td>
                    <td style="border: 1px solid black">
                        {% for result in results %}
                            {% for result_question, result_answer in result.items %}
                                {% if question == result_question %}
                                    {{result_answer}}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                        {% for result in results %}
                            {% for result_question, result_answer in result.items %}
                                {% if question == result_question %}
                                    {% if question.type == "mcq" %}
                                        {% for answer in question.answerset.all %}
                                            {% if result_answer == answer %}
                                                {% if answer.is_correct %}
                                                    <td style="border: 1px solid black" id="validate1" class="bg-success text-light"><b>Right</b></td>
                                                {% else %}
                                                    <td style="border: 1px solid black" id="validate1" class="bg-danger text-light"><b>Wrong</b></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for answer in question.answerset.all %}
                                            {% if result_answer == answer.text %}
                                                <td style="border: 1px solid black" id="validate1" class="bg-success text-light"><b>Right</b></td>
                                            {% else %}
                                                <td style="border: 1px solid black" id="validate1" class="bg-danger text-light"><b>Wrong</b></td>
                                            {% endif %}
                                        {% endfor %}    
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    <td style="border: 1px solid black" id="validate1">
                        {% for result in results %}
                            {% for result_question, result_answer in result.items %}
                                {% if question == result_question %}
                                    {% if question.type == "mcq" %}
                                        {% for answer in question.answerset.all %}
                                            {% if result_answer == answer %}
                                                {% if answer.is_correct %}
                                                    <b>+1</b>
                                                {% else %}
                                                    <b>0</b>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for answer in question.answerset.all %}
                                            {% if result_answer == answer.text %}
                                                <b>+1</b></td>
                                            {% else %}
                                               <b>0</b>
                                            {% endif %}
                                        {% endfor %}    
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div><br /><br />
    
{% endblock content %}