{% extends "quiz/base.html" %}
{% load static %}


{% block title %}
Quiz
{% endblock %}


{% block scripts %}
    <script src="{% static 'quiz/topic.js' %}" defer></script>
{% endblock scripts %}


{% block content %}
<div class="container">
    <div class="h1">Topics</div><hr />
    {% for obj in topics %}
        <button type="button"
        class="btn btn-secondary modal-button"
        data-bs-pk="{{obj.t_id}}"
        data-bs-topic="{{obj.topic}}" 
        data-bs-time="{{obj.time_required}}"
        data-toggle="modal"
        data-target="#quizModal">
        {{obj.topic}}
        </button><br /><br />
    {% endfor %}

</div>

<div class="modal fade" id="quizModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Start Quiz ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modalbody"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            <button id="start-button" type="button" class="btn btn-success">Yes, Start</button>
        </div>
    </div>
</div>
</div>

{% endblock %}
