{% extends "quiz/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'users/register.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <div class="container text-center mr-2" style=" width:50%;border: 3px solid black;border-radius: 5px;">
        <div class="row text-center">
            <div class="col">
                <fieldset>
                    <legend>Enter Your Otp</legend>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <input class="form-input" type="text" name="otp" required /><br /><br />
                        <button type="submit" class="btn btn-primary">Validate OTP</button><br /><br />
                        <a href="{% url 'resend_otp' user=user %}" >Resend OTP</a>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}